SECRET_KEY=put-real-secret-key-here
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=tqogyadt
DATABASE_USER=tqogyadt
DATABASE_PASSWORD=6n-O_TLV1WdlSxlGsucyoTDGMXJvhaap
DATABASE_HOST=surus.db.elephantsql.com
DATABASE_PORT=5432
