{% extends 'base.html' %}

{% block content %}

<div class="w-3/4 mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center pb-10 px-4">
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Emam Al Mounqer</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Full Stack Developer</span>
        <p class="mb-1 text-xl font-medium text-gray-900 dark:text-white">assigment in ltuc course for class 34</p>
    </div>
</div>

{% endblock content %}
